{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}
<script src="/static/js/Myfunctions.js"></script>
{% endblock %}


{% block html_body %}
<main class="container">
  <div class="bg-light p-5 rounded">
    <h2>상세보기</h2>

    글번호 : {{ detail_form.initial.id }}
    <br><br>
    <div class="m-1"></div>

    {% bootstrap_form detail_form %}
    <br><br>
    <button type="button" class="btn btn-outline-danger" onclick="like_post({{ detail_form.initial.id }})">좋아요</button>
{#      <br>#}
    <button type="button" class="btn btn-outline-dark" onclick="#">수정</button>
{#      <br>#}
    <button type="button" class="btn btn-outline-dark" onclick="delete_post({{ detail_form.initial.id }})">삭제</button>
{#      <br>#}
    <button type="button" class="btn btn-outline-dark" onclick="list_func()">목록</button>

  </div>
</main>
{% endblock %}